p {
    margin-block-start: auto;

}

#chartjs-tooltip {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    z-index: 99;
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    border-radius: 50%;
}

.rc-tooltip {
    opacity: 1 !important;
}

.rc-tooltip-inner {
    pointer-events: none;
    padding: 4px 10px 5px 10px !important;
    border-radius: 5px !important;
    line-height: 14px !important;
    min-height: 0px !important;
    font-weight: 400 !important;
    background-color: #000000 !important;
}

.rc-tooltip-arrow {
    display: none !important;
}

.notification-animation {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
}

.notification-animation svg{
    border-radius: 0 0 3px 3px;
}

.sortable-list {
    z-index: 0;

    overflow: auto;
    list-style-type: none;
}
.sortable-item {
    list-style: none !important;
}
