@font-face {
    font-family: "Geomanist Regular";
    src: url("Geomanist-Regular.ttf");
}

@font-face {
    font-family: "Geomanist Book";
    src: url("Geomanist-Book.ttf");
}

@font-face {
    font-family: "Geomanist Medium";
    src: url("Geomanist-Medium.ttf") format("truetype")
}
