body {
    font-family: "Open Sans";
}

.hero {
    color: #222222;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 42px;
}

h1 {
    color: #222222;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
}

h2 {
    color: #222222;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
}

h3 {
    color: #222222;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
}

p .text {
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
}

a, .action {
    color: #0336FF;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
}

.dark {
    color: #222222 !important;
}

.light {
    color: #FFFFFF !important;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.small {
    font-size: 12px;
}

.note {
    color: #000000;
    font-family: "Open Sans";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    text-align: right;
}

.note-third {
    color: #FF39D3;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
}

.note-grey {
    color: #6B6B6B;
}

.description {
    color: #000000;
    font-family: "Open Sans";
    font-size: 10px;
    letter-spacing: 0;
    line-height: 14px;
    text-align: right;
}

.label {
    color: #6B6B6B;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
}

.button-secondary, .button-tertiary {
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 8px;
    text-align: center;
}

.number {
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 33px;
}

.name-offer {
    color: #000000;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
}

input {
    color: #000000;
    font-family: "Open Sans";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
}

.sections {
    color: #404040;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 20px 40px
}

.p-20 {
    padding: 20px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-l-40 {
    margin-left: 40px;
}

.background-primary {
    background: #0036FF;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 0 40px;
}

.container-column {
    display: flex;
    flex-direction: column;
}

/* Icon Stories*/

.icon-container {
    display: flex;
    flex-wrap: wrap;
}
.dark-background {
    background: #000000;
}
.icon {
    margin: 20px;
    text-align: center;
}
